@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 200, 200, 200;
  --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb:  255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
} */



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  /* scroll-padding-top: 7em;  */
}

body {
  position: relative;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.text-shadow {
  text-shadow: black 0 1px 3px;
}